# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/

# Streamlit
.streamlit/
static/

# Environment/Secrets
.env

# Large Data (Keep your repo light)
data/*.csv
data/*.json

# OS specific
.DS_Store
Thumbs.db